#{extends 'main.html' /}

<div id="login">
	
	<h1>Login</h1>
		
	#{form @authenticate()}
		
		#{if flash.error}
			<p class="error">
				&{flash.error}
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				&{flash.success}
			</p>
		#{/if}
                
                <table> 
		<tr><td><p id="username-field">
			<label for="username">&{'secure.username'}</label></td>
			<td><input type="text" name="username" id="username" value="${flash.username}" /></td>
                </tr>
		</p>
		<tr><td><p id="password-field">
			<label for="password">&{'secure.password'}</label><td>
			<input type="password" name="password" id="password" value="" /><td>
                </tr>
		</p>
		<tr><td><p id="remember-field">
			<input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} /><td>
			<label for="remember">&{'secure.remember'}</label><td>
		</p>
                </tr>
                <tr>
		<td colspan="2"><p id="signin-field">
			<input type="submit" id="signin" value="&{'secure.signin'}" /></td>
		</p>
                </tr>
                <table>
	#{/form}
</div>
