*.pyc
.classpath
.project
.settings
eclipse/
nbproject/
tmp/
expleo/bin
expleo/test-result
expleo/logs
expleo/data/test/SimpleWrite.txt
/expleo/db/
/expleo/app/controllers/test
expleo/cobertura.ser
/expleo/public/templates/*
*.aux
*.log
/framework/classes/
*.orig
expleo/public/templates/*
*.log
