h2,h3,h4,h5,h6,div,p,body,html,input,button {
    font: normal 12px Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
}


body {
    width: 100%;
    height: 100%;
}

#header {
    background-color: #FFFFFF;
}

#container {
    margin: auto;
    width: 850px;
    height: 100%;
}

#logo {
    width: 250px;
    height: 80px;
    float: left;
    text-align: center;
}

#menu {
    width: 500px;
    height: 80px;
    float: left;
    padding-left: 100px;
}

#menu a{
    font-size: 26px;
    color: black;
    text-decoration: none;
    display: block;
    float: left;
    margin: 0 5px;
    padding: 25px 40px 0px 0px;
    background-image: url('../images/pfeil.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 55px;
}

#header_bottom {
    width: 600px;
    height: 25px;
    clear: both;
    padding-left: 200px;
    padding-right: 15px;
    padding-top: 7px;
    margin-right: 100px;
    margin-bottom: 5px;
    background-image: url('../images/pfeil_klein.png');
    background-repeat: no-repeat;
    background-position: right;
}


#content {
    width: 100%;
    min-height: 400px;
    border-top: 2px solid black;
}

#footer {
    width: 100%;
    text-align: center;
    border-top: 2px solid black;
}

#footer a{
    text-decoration: none;
    color: black;
}


#footer a:hover{
    text-decoration: none;
    color: #444444;
}

.input {
    float: left;
    width: 110px;
    height: 14px;
    font-size: 11px;
    margin: 0;
    padding: 0;
}

.search_button {
    float: left;
    background-color: transparent;
    background-image: url('../images/lupe.jpg');
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    margin: 0 40px 0 4px;
    padding: 0px;

}

.login {
    float: left;
}


.login_button {
    float: left;
    height: 19px;
    width: 25px;
    padding: 0;
    margin: 0 0 0 4px;
    font-size: 10px;
    background-color: transparent;

}

h6 {
    float: left;
    display: inline;
    margin: 0;
    padding: 2px 3px 0 0;
}

#menu_bar {
    border-bottom: black 3px solid;
    padding-bottom: 5px;
    margin-bottom: 5px;
    height: 80px;

}




.notification
{
    border-color: #666666;
    border-width: 1px;
    border-style: solid;
    display: block;
    margin-bottom: 15px;
    padding-top: 9px;
    padding-bottom: 6px;
    position: relative;
    z-index: 1;
    max-width: 80%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 10px;


}

.success
{
    border-width: 1px;
    border-style: solid;
    border-color: #b3dc7c;
    background-color: #e8ffca;
    background-image: url("../images/success.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 10px 50%;

}

.error
{
    background-color: #fae2e3;
    background-image: url("../images/error.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 10px 50%;
    border-color: #ec9b9b;
    border-width: 1px;
    border-style: solid;
}

.info
{
    background-color: #dde9f7;
    background-image: url("../images/info.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 10px 50%;
    border-color: #50b0ec;
    border-width: 1px;
    border-style: solid;
}

.warning
{
    background-color: #fffac6;
    background-image: url("../images/ico_attention.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    border-color: #d3c200;
}

.notification p
{
    color: #333333;
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-left: 42px;
    margin: 0px;
    font-size: 18px;
}


#back
{
    text-align: center;
    font-size: 16px;
}

.notification ul
{
    list-style-image:url("../images/error.png");
    list-style-type:square;
}