/* 
    Document   : template
    Created on : 13.04.2011, 09:31:09
    Author     : Benedikt
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.tempgal
{
    width: 100%;
    padding: 10px;
}

.tempgalitem
{
    width: 150px;
    height: 180px;
    float: left;
    padding: 2px;
    margin: 10px;
    background-color: blue;
    text-align: center;
}

.tempgalitem img
{
    width: 110px;
    height: 130px;
    border: 4px;
    margin: 5px;
}

