<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/template.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        <div id="container">
        <div id ="header">
            <div id="menu_bar">
                <div id="logo">
                    <img src="@{'/public/images/logo.png'}" />
                </div>
                <div id="menu">
                    <a href="@{Application.showAllTemplates()}">HOME</a>
                    <a href="@{Application.upload()}">TEMPLATES</a>
                    <a href="#">HOWTO</a>
                </div>
            </div>
            <div id="header_bottom">
                <form id="searchform">
                    <h6>Suche:</h6>
                    <input class="input" type="text" id="search"/>
                    <input class="search_button" type="submit" id="submit_search" value="">
                </form>
                <form id="login">
                    <h6>Login:</h6>
                    <input type="text" class="input"/>
                    <h6>Passwort:</h6>
                    <input type="text" class="input"/>
                    <input type="submit" class="login_button" value="OK">
                </form>
                <div id="lang"></div>
                <div id="font_size"></div>
            </div>
        </div>
        <div id="content">
        #{doLayout /}
        </div>
        <div id="footer">
                    <a href="#">AGB</a>
                    <a href="#">Impressum</a>
                    <a href="#">Kontakt</a>
        </div>
        </div>
    </body>
</html>
