<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>


<form action="@{Application.doRegister()}" method="GET">
<h6>email/nickname:</h6>
<input class="input" type="text" id="email"/>
<h6>password:</h6>
<input class="input" type="text" id="password"/>
<h6>firstname:</h6>
<input class="input" type="text" id="firstname"/>
<h6>lastname:</h6>
<input class="input" type="text" id="lastname"/>
<h6>question:</h6>
<input class="input" type="text" id="question"/>
<h6>answer:</h6>
<input class="input" type="text" id="answer"/>
<br /><br />
<input type="submit" class="register_button" value="Register">
</form>




  </body>
</html>
