<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
#{extends 'main.html' /}

<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>

        <h1>Register</h1>
        <form id="registerform" action="@{Application.doRegister()}" method="POST">
            <h6>E-Mail:</h6>
            <input class="input" type="text" name="email"/>
            <h7>Your email adress is also your username</h7>
            <h6>Password:</h6>
            <input class="input" type="password" name="password"/>
            <h7> At least 6 characters </h7>
            <h6>Password again:</h6>
            <input class="input" type="password" name="passwordagain"/>
            <h7>Make sure that you type in the same password</h7>
            <h6>Firstname:</h6>
            <input class="input" type="text" name="firstname"/>
            
            <h7></h7>
            <h6>Lastname:</h6>
            <input class="input" type="text" name="lastname"/>
                        <h7></h7>
            <h6>Question:</h6>
            <input class="input" type="text" name="question"/>
            <h7>If you type in a question, you must type in a answer too</h7>
            <h6>Answer:</h6>
            <input class="input" type="text" name="answer"/>
            <br /><br />
            <input style="height: 24px;"  type="submit"  value="Register">
            <br /> <br />
        </form>




    </body>
</html>
