<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
#{extends 'main.html' /}

<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>

    <br/>
    <form action="@{Application.insertionComplete()}" method="POST">
     <br/>
<table id="templateinputform">

    %{
      Iterator iterator = loadedTemplate.getTemplates_().keySet().iterator();
      int i=0;
      while(iterator.hasNext())
      {
       String key = iterator.next();
       String value = loadedTemplate.getValue(key);
       i++;
       }%
       <tr>
           <td><h6>${key}</h6></td>
           <td><input class="input" type="text" name="${key}" value="${value}"></td>
            <td><h7></h7></td>
       </tr>

       %{
      }
     }%
     <tr>
         <td colspan=3>
             <div style="width: 100%; text-align: center;">
                 <br /><br />
                 <input type="hidden" name="ID" value="${loadedTemplate.id}">
                 <input style="height: 24px; width: 230px;"  type="submit"  value="Submit">
                 <br /> <br />                <br /> <br />
             </div>
         </td>
     </tr>
</table>
    </form>
  </body>
</html>
