<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>

    <br/>
    <form action="@{Application.insertionComplete()}" method="POST">
     <br/>


    %{
      Iterator iterator = loadedTemplate.getTemplates_().keySet().iterator();
      int i=0;
      while(iterator.hasNext())
      {
       String key = iterator.next();
       String value = loadedTemplate.getValue(key);
       i++;
       }%

       <br/>
       ${key}
       <input type="text" name="${key}" value="${value}">

       %{
      }
     }%
     <br/><br/>
     <input type="hidden" name="ID" value="${loadedTemplate.id}">
     <input type="submit" value="submit" />
    </form>
  </body>
</html>
