<!--
 * COPYRIGHT INFORMATION
 * 
 * Developed by ALTernative + F4ntastic FOUR
 * 
 *  This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 * 
 * 
 * 
 */
 -->

<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->

#{extends 'main.html' /}
#{if success}
<div class="notification success"><p>Template successfully uploaded.</p></div>

<div id="back"><a href="@{Application.upload()}">Upload another template.</a></div>

#{/if}
#{else}
#{ifErrors}
<h1>Some Errors occured:</h1>

        #{errors}
        <div class="notification error"><p>${error}</p></div>
        #{/errors}
        <div id="back"><a href="@{Application.upload()}">Back</a></div>

#{/ifErrors}
#{else}


<form action="@{Application.upload()}" method="POST" enctype="multipart/form-data">


    <h1>Upload a template</h1>
    <p>
        <label for="name">Name:</label>
        <br />
        <input type="text" name="name" id="name"/>
    </p>
    <p>
        <label for="name">Description:</label>
        <br />

        <textarea name="description" cols="100" rows="10"> </textarea>
    </p>
    <p>
        <input type="file" name="template" title="Choose" id="template"/>
    </p>
    
    
    %{
    if(user != null) { }%
  <p>
    <input type="checkbox" name="isHidden" > Hidden for other users
  </p>
    %{
    }
    }%
    
    <p>
        <input type="submit" value="Upload" name="upload" />
    </p>
</form>
#{/else}
#{/else}